.form{

    width: 50%;
    padding:30px;
    height: auto;
    
    }
    .form input{
    width: 160%;
    border-radius: 5px;
    border: solid 1px;
    
    }
    
     .submit-button button{
        background: none;
        border: none;
        background-color:blueviolet;
        width: 300px;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        }
        .picture{
            width: 50%;
            
            
        
        }
        .container {
            border: 1px solid;
            display: flex;
            margin: 0 auto;
            border: solid 1px ;
            width: 50%;
        }
        .form .icon{
            display:flex;
            justify-content: center;
        } 
        .form .icon button{
     width: 50%;
     padding:10px;
     cursor: pointer;
     border-radius:5px




    }       
            